.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6995fa;
  padding: 0 1rem;
  color: white;
}

.left-group {
  display: flex;
  gap: 8rem;
  align-items: center;
}

.user-name-with-dot {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.red-dot {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
}

.selects {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
